#body {
    padding-top: 90px;
    background-color: rgb(253, 251, 251);
    margin: 5%;
    padding: 5%;
    border: 5%;
    font-size: 16px;
    color: rgb(21, 21, 24);
    line-height: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#cabecalho {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    margin: 0;
}
#minha_foto {
    border-radius: 15%;
    width: 200px;
    height: 200px;
}
#main_content {
    width: 100%;
    float: left;
}
.div1 {
    width: 100%;
}
.section_list {
    width: 50%;
    float: left;
}
#licoes_aprendidas {

}
#licoes_a_aprender {
   
}
.lado-direito {
    width: 50%;
    float: right;
}
.lado-esquerdo {
    width: 45%;
    float: left;
}
#tab {
    width: 100%;
    float: left;
}